@charset "UTF-8";

body,html {

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #e8d910;
    font-family: 'Roboto', sans-serif;

}

#container {
    
    text-align: center;
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;

}

#dice_btn {

    margin: 0;
    background-color: #ed6a23;
    border: none;
    color: black;
    padding: 2.5% 5% 2.5% 5%;
    font-family: 'Roboto', sans-serif;

}

#roll {

    font-size: 20vw;
    margin: 0;
    padding: 0;
    font-weight: 900;
    margin-bottom: 15%;

}

#roll_btn {

    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #232323;
    color: white;
    margin: 0;
    padding: 3% 4% 3% 4%;

}



