@charset "UTF-8";

body,html {

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #e8d910;
    font-family: 'Roboto', sans-serif;

}

#text_area {
    
    text-align: center;
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;

}

#roll {

    font-size: 30vw;
    margin: 0;
    padding: 0;
    font-weight: 900;

}

#buttons {

    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 5%;

}


#dice_btn {

    font-size: 5vw;
    margin: 0;
    background-color: #ed6a23;
    border: none;
    color: black;
    padding: 3% 4% 3% 4%;
    margin-right: 2.5%;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;

}



#roll_btn {
    
    font-size: 5vw;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #232323;
    color: #e8d910;
    margin: 0;
    padding: 3% 4% 3% 4%;
    border-radius: 5px;

}



